html,
pre {
  font-family: 'Noto Sans', sans-serif;
  font-size: 10px;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

body {
  margin: 0;
  font-size: 1.4rem;
}

li {
  list-style-position: inside;
}

iframe {
  width: 100%;
  height: 100%;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  border-radius: unset !important;
  -webkit-text-fill-color: var(--high-emphasis) !important;
}

*, *::before, *::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: inherit;
}
